@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    padding: 10px;

    font-size: 18px;
    color: black;
    background: linear-gradient(45deg ,#FFB067, #F8CCDC);

    
}

header{
    margin: 20px 0 30px 0;
    text-align: left;
}

header h1{
    line-height: 2rem;
    margin-bottom: 5px;


    font-family: 'Rubik', sans-serif;
    font-weight: 900;

    text-transform: uppercase;
    background: linear-gradient(180deg ,#000000,#919191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p{
    font-style: italic;
}

.campo{
    display: flex;
    flex-direction: column;
    outline: 0;

    margin-bottom: 25px;
}

.campo label{
    font-weight: 700;
}

.campo p{
    margin-bottom: 5px;
    font-weight: 700;
}

.campo input,
.campo textarea,
.campo select{
    outline: 0;
}

.campo select{
    border: 0;
    height: 30px;
    border-radius: 0 0 10px 10px;

    background: #A2DCE7;
}

.campo input[type="text"],
.campo input[type="email"]{
    background: none;
    border: 0;
    height: 35px;

    border-bottom: 2px solid;
    border-color: gray;
    
}

.campo input[type="text"]:focus,
.campo input[type="email"]:focus{
    border-color: #A2DCE7;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border: 0;
}

fieldset legend{
    font-weight: 600;
}

#campo-genero label{
    font-weight: 400;
}

#campo-tema label{
    font-weight: 400;
}

#texto-historia{
    resize: none;
    width: 100%;
    height: 150px;
}

.botao{
    width: 100%;
    margin-bottom: 10px;
}

.botao input{
    width: 100%;
    padding: 10px;

    color: #f88b25;
    border: 0;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 700;

    background: #A2DCE7;
}

footer{
    margin-top: 10px;
    padding: 0 10px;

    text-align: center;
}

footer a{
    text-decoration: none;
}

@media screen and (min-width: 1024px){
    body{
        max-width: 700px;
        margin: 0 auto;
        border-right: 1px rgba(128, 128, 128, 0.425) solid;
        border-left: 1px rgba(128, 128, 128, 0.425) solid;
    }

    .campo select{
        height: 40px;
    }
}